:root {
    --primary-color: #462980;
    --secondary-color: #D1BAFF;
}

#book {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: start;
    width: 100%;
    perspective: 1500px;
}

.page {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0;
    transform-style: preserve-3d;
}

.pageImg {
    position: fixed;
    width: 100%;
}

#btnPanel {
    padding-top: 40%;
    display: flex;
    justify-content: center;
    width: 100%;
}


#remove, #next {
    color: var(--secondary-color);
    background: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 1rem 2rem; /* Use rem units for responsive padding */
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background, color; /* Add color to transition properties */
    cursor: pointer;
}

#remove:hover, #next:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

@media (max-width: 960px) {
    #next, #remove {
        font-size: 1.5vw; /* Adjust as needed */
    }
}

@media (max-width: 560px) {
    #next, #remove {
        font-size: 0.8vw; /* Adjust as needed */
    }
}
