.book {
    background-color: transparent;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0;
}
.box {

    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0;



}
.page {
    position: relative;
    width: 100%;


}

#btnPanel {
    padding: 20px;
    display: flex;
    justify-content: end;

}
#next {

    color: #D1BAFF;
    background: #462980;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;

}
