@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #462980;
  --secondary-color: #D1BAFF;
}

audio::-webkit-media-controls {
  display: none !important;
}
audio::-webkit-media-controls-enclosure {
  display: none !important;
}
audio::-webkit-media-controls-panel {
  display: none !important;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(assets/Cover.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

header{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label{
  display: none;
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.logo img {
  width: 100px;
  height: auto;
}

header .navigation a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation a:not(:last-child){
  margin-right: 30px;
}

header .navigation a:hover{
  background: #D1BAFF;
}

.content{
  max-width: 85%;
  margin: 60px 100px;
}

.content .info h2{
  color: #462980;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span{
  color: #6239B3;
  font-size: 50px;
  font-weight: 600;
}

.content .info p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.content .info-btn{
  color: #D1BAFF;
  background: #462980;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;   
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .info-btn:hover{
  background: #AF86FF;
}

#check{
  z-index: 3;
  display: none;
}

/* Responsive CSS */

@media (max-width: 960px){
  header .navigation{
    display: none;
  }

  label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover{
    color: #F4EEFF;
  }

  label .close-btn{
    display: none;
  }

  #check:checked ~ header .navigation{
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #AF86FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~  header .navigation a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .close-btn{
    z-index: 2;
    position: fixed;
    display: block;
  }

  #check:checked ~ header label .menu-btn{
    display: none;
  }

  label .menu-btn{
    position: absolute;
  }

  header .logo{
    position: absolute;
    bottom: -60px;
  }

  .content .info h2{
    font-size: 45px;
    line-height: 50px;
  }

  .content .info h2 span{
    font-size: 40px;
    font-weight: 600;
  }

  .content .info p{
    font-size: 14px;
  }
}


@media (max-width: 560px){
  .content .info h2{
    font-size: 35px;
    line-height: 40px;
  }

  .content .info h2 span{
    font-size: 30px;
    font-weight: 600;
  }

  .content .info p{
    font-size: 14px;
  }

  .content .info-btn{
    color: #D1BAFF;
    background: #462980;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;   
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
  }
  
  .logo {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  
  .logo img {
    max-width: 20vw;
    height: auto;
  }

  header .logo{
    position: absolute;
    bottom: -40px;
  }

}